[submodule "src/renderer/raylib"]
	path = src/renderer/raylib
	url = https://github.com/SergeyMC9730/raylib.git
[submodule "src/external/cJSON"]
	path = src/external/cJSON
	url = https://github.com/DaveGamble/cJSON
[submodule "src/external/libarchive"]
	path = src/external/libarchive
	url = https://github.com/libarchive/libarchive.git
[submodule "src/external/libpe"]
	path = src/external/libpe
	url = https://github.com/merces/libpe.git
[submodule "src/external/inih"]
	path = src/external/inih
	url = https://github.com/benhoyt/inih.git
[submodule "src/external/--recursive"]
	path = src/external/--recursive
	url = https://github.com/SergeyMC9730/cterm.git
[submodule "src/external/cterm"]
	path = src/external/cterm
	url = https://github.com/SergeyMC9730/cterm.git
[submodule "src/external/raylib-video"]
	path = src/external/raylib-video
	url = https://github.com/jtainer/raylib-video.git
[submodule "src/external/reasings"]
	path = src/external/reasings
	url = https://github.com/raylib-extras/reasings.git
[submodule "src/external/freetype-gl"]
	path = src/external/freetype-gl
	url = https://github.com/rougier/freetype-gl.git
